<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="font-size: 18px; text-align: center;">
      {{{name}}}, you was logout from {{{count}}} devices!
    </td>
  </tr>
  <tr>
    <td style="font-size: 18px; text-align: center;">
      <p style="margin: 17px 0 0;">We look forward to your return 😉</p>
    </td>
  </tr>
</table>
